<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"		
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
